          

<ion-content>

  
  <div
    style="
      background-image: linear-gradient(
        to bottom,
        #db8f8faf,
        rgba(160, 101, 128, 0.686)
      );
      width: 100%;
      height: 200%;
    "
  >
  <ion-header class="fixed-top">
  <ion-menu-button style="width: 50px; height: 50px; ">
    <ion-fab-button  style="padding: 1em; margin-left: -80%;" color="danger">   <ion-icon name="arrow-back"></ion-icon>
</ion-fab-button>
</ion-menu-button>
 </ion-header><br><br><br>
  <div class="container" style="padding: 1em;">
    <form [formGroup]="formGroup">
  
    <ion-row>
        <ion-col size="6">
          <img
            src="../../assets/angel.png"
            style="width: 150px; height: 150px;"
          />
        </ion-col>
        <ion-col size="6">
         
          <h4 style="color: antiquewhite;">
            Um anjo de verdade na nossa 
            vida sempre é bom né ?
          </h4>
        </ion-col>
      </ion-row>
      <hr style="background-color: white; width: 100%;" />
<div class="form-group">
        <ion-input type="text" formControlName="nome" required id="nome"class="form-control" placeholder="Nome do Anjo" > 
        </ion-input>
</div>
        <br />
        <div class="form-group">
      
        <ion-input  formControlName="numero" type="number" required id="numero" class="form-control" placeholder="Celular" > </ion-input>
 </div>
        <br>
      <ion-row>
        <ion-col>
          <ion-button expand="block">Contatos</ion-button>
        </ion-col>
        <ion-col>
          <ion-button type="submit" (click)="addItem1()"  color=success expand="block">Salvar</ion-button>
        </ion-col>
      </ion-row>
      <br >




      <ion-list *ngFor="let itam of itens; let i = index" 
      class=" animate__animated animate__flipInY" style=" width: auto; animation-duration: 1s; border-radius: 2px;  
      background-image: linear-gradient(to right, rgb(238, 215, 215), rgb(255, 255, 255));">
       
       <ion-item-sliding style="width: auto;  background-image: linear-gradient(to right, rgb(238, 215, 215), rgb(255, 255, 255));"  >
        <ion-card>
          <ion-item>
            <ion-card-header
              ><p><b>Nomo do Anjo:</b> {{itam.nome}}</p> 
              <p> <b> Número: </b> {{itam.numero}} </p>         

             </ion-card-header>       
                   <ion-card-content>
                
                   </ion-card-content>
           
          </ion-item>
          <ion-item-options>
            <ion-button (click)="removeItem(i)" color=danger style="height: 100%; margin-top: -1px;">
              <ion-icon name="close-circle"></ion-icon> Delete</ion-button  >
          </ion-item-options>
        </ion-card> 
      </ion-item-sliding>
  </ion-list> <br>
 </form>

    </div>
  </div>
</ion-content>