<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon ios="ios-list" md="md-list"></ion-icon>
      </ion-menu-button>
      </ion-buttons>
    <ion-title style="margin-left: 50px;"> Bem-Vindo !!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    style="
      background-image: linear-gradient(
        to bottom,
        #db8f8faf,
        rgba(160, 101, 128, 0.686)
      );
      width: 100%;
      height: 100%;
    "
  >
    <div class="container" style="padding: 1em;">
      <ion-row>
        <ion-col size="6">
          <img
            src="../../assets/angel.png"
            style="width: 150px; height: 150px;"
          />
        </ion-col>
        <ion-col size="6">
         
          <h4 style="color: antiquewhite;">
            Um anjo de verdade na nossa 
            vida sempre é bom né ?
          </h4>
        </ion-col>
      </ion-row>
      <hr style="background-color: white; width: 100%;" />

      <form>
        <input type="text" class="form-control" placeholder="Nome do Anjo" />
        <br />
        <input type="text" class="form-control" placeholder="Celular" />
      </form>
      <br>
      <ion-row>
        <ion-col>
          <ion-button expand="block">Contatos</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color=success expand="block">Salvar</ion-button>
        </ion-col>
      </ion-row>
      <br >

      <ion-card>
        <ion-card-header>
          <p style="text-align: center;">1° ANJO</p>
        </ion-card-header>
        <ion-card-content>
          <p>Nome do anjo:</p>
          <p>Celular: </p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
