<ion-header>
  <ion-toolbar>
    <ion-title>more</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="background-image:linear-gradient(to bottom, #db8f8faf, rgba(160, 101, 128, 0.686)); width: 100%; height: 100%;">
 <div class="container" style="padding: 1em;">
    <ion-row>   
  
        <ion-col size="6">
          <br>
          <h4 style="color: antiquewhite;">Vamos conhecer de onde e<br> como surgiu o Todas por uma?</h4>       </ion-col>

        <ion-col size="6">
          
          <img src="../../assets/logo1.png" style="width: 150px; height: 150px;">
 
          </ion-col>

  </ion-row>
<br> <br> <br>
  <ion-button expand="block">
   Qual a Problemática presente ?  <ion-icon name="arrow-up">

    </ion-icon>
  </ion-button>
<br>
  <ion-button expand="block">  Desigualdade de gênero existe?  <ion-icon name="arrow-up">

  </ion-icon>
</ion-button>
  <br>
  <ion-button expand="block"> Quais são os tipos de violência?   <ion-icon name="arrow-up">

  </ion-icon>
</ion-button>



  </div>
</div>
</ion-content>
