<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
   
    <ion-content>
      
      <div
        style="
          background-image: linear-gradient(
            to right,
            rgb(238, 172, 172),
            rgb(221, 157, 157)
          );
          height: 100%;
          font-family: 'Cabin', sans-serif;
        "
      >
     <br>
          <ion-title><p style="text-align: center;">Todas Por Uma</p></ion-title>
     <hr style="background-color: thistle; width: 100%;">
  
        <ion-menu-toggle auto-hide="true">
         
          <div class="container" style="padding: 3em;">
            <div class="animate__animated animate__flipInX" style="animation-delay: 0.2s;">
              <button (click)="presentLoading()"
                class="animate__animated animate__bounce"
                type="button"
                class="btn btn-danger btn-lg btn-block"
                style="
                  background-image: linear-gradient(
                    to right,
                    rgb(238, 172, 172),
                    rgb(221, 157, 157)
                  );
                "
             [routerLink]="'./pages/home'"
             >
                Dashboard
              </button>

            </div>
<br>
            <div class="animate__animated animate__flipInX"  style="animation-delay: 0.4s;">
              <button (click)="presentLoading()"
                type="button"
                class="btn btn-danger btn-lg btn-block"
                style="
                  background-image: linear-gradient(
                    to right,
                    rgb(238, 172, 172),
                    rgb(221, 157, 157)
                  );
                "
                 [routerLink]="'./pages/angel'"
              >
                Adicionar Anjo
              </button>
            </div>
<br>
            <div class="animate__animated animate__flipInX" style="animation-delay: 0.6s;">
              <button (click)="presentLoading()"
                type="button"
                class="btn btn-danger btn-lg btn-block"
                style="
                  background-image: linear-gradient(
                    to right,
                    rgb(238, 172, 172),
                    rgb(221, 157, 157)
                  );
              
            "
                           [routerLink]="'./pages/occurrence'"

            >

                Ocorrências 
          </button>
            </div><br>
            <div class="animate__animated animate__flipInX" style="animation-delay: 0.8s;">
              <button (click)="presentLoading()"
                type="button"
                class="btn btn-danger btn-lg btn-block"
                style="
                  background-image: linear-gradient(
                    to right,
                    rgb(238, 172, 172),
                    rgb(221, 157, 157)
                  );
              
            "
                           [routerLink]="'./pages/more'"

            >

                Sobre nós
              </button>
            </div>
            <br>
            <div class="animate__animated animate__flipInX" style="animation-delay: 1.0s;">
              <button (click)="presentLoading()"
                type="button"
                class="btn btn-danger btn-lg btn-block"
                style="
                  background-image: linear-gradient(
                    to right,
                    rgb(238, 172, 172),
                    rgb(221, 157, 157)
                  );
                "
              >
                Configurações
              </button>
            </div>
            <br>
            <br /><br />
            <div class="animate__animated animate__flipInX" style="animation-delay: 1.2s;">
              <button (click)="presentLoading()"
                type="button"
                class="btn btn-danger btn-lg btn-block"
                style="
                  background-image: linear-gradient(
                    to right,
                    rgb(238, 172, 172),
                    rgb(221, 157, 157)
                  );
                "
                               [routerLink]="'./pages/login'"

              >
                Sair
              </button>
            </div>
          </div>
        </ion-menu-toggle>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>

</ion-app>
