<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1" >
    <ion-header>
      <ion-toolbar>
        <ion-title>more</ion-title>
      </ion-toolbar>
    </ion-header>
    
    
    <ion-content>
      <div style=" background-image: linear-gradient(to right, rgb(238, 172, 172), rgb(221, 157, 157));   height:100% ; font-family: 'Cabin', sans-serif;">
        <ion-menu-toggle auto-hide="true">

          
          <br><br>
<div class="container" style="padding: 3em;">
</div>  
        </ion-menu-toggle>

      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
